//fonts
$primary-font: "Lato";

//basic color
$black: #000000;
$white: #ffffff;

//colors
$off-white: #faf9f6;
$primary-color: #505050;
$light-green: #44af72;

$primary-green: #1b7642;

//button
$primary-blue-btn: #265781;
$primary-green-btn: #52b27b;
$primary-yellow-btn: #f2e162;

$card-shadow: 0 3px 30px 0px rgb(88 104 112 / 9%);

$basic-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);

$radius: 100px;
$radius-5: 5px;
$radius-10: 10px;
$radius-24: 24px;

// Fonts
$fonts-path: "../fonts";
$image-path: "../img";

$Light: 300;
$Normal: 400;
$Medium: 500;
$SemiBold: 600;
$Bold: 700;
$Black: 900;

// screen size
$small-screen: 576px;
$ipad-min: 768px;
$desktop-min: 992px;
$medium-desktop-min: 1200px;
$large-desktop-min: 1365px;

//iconfont
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/icomoon" !default;

$icon-triangle-down: "\e914";
$icon-arrow-left: "\e900";
$icon-arrow-right: "\e901";
$icon-book: "\e902";
$icon-facebook: "\e903";
$icon-file: "\e904";
$icon-house: "\e905";
$icon-letter: "\e906";
$icon-map: "\e907";
$icon-medal: "\e908";
$icon-open-book: "\e909";
$icon-phone: "\e90a";
$icon-search: "\e90b";
$icon-target: "\e90c";
$icon-twitter: "\e90d";
$icon-youtube: "\e90e";
$icon-location: "\e90f";
$icon-mobile: "\e910";
$icon-mail: "\e911";
$icon-play: "\e912";
$icon-search-bar: "\e913";
